html, body{
  margin :0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-family: sans-serif;
}

#wrap{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: [first-row] 70px 30px [top-row] auto [bottom-row] 80px [last-row] /
  [first-col] 150px 50px [left-col] auto [right-col] 200px [last-col];

  box-sizing: border-box;
  background: #00af6e;
  color: #31302b;
  overflow: hidden;
}
#wrap>div{
  box-sizing: border-box;
}

.button {
  display: inline-block;
  margin: 0;
  background: #0c5ea8;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.button:hover {
  background: #008cba;
}
.button.inactive, .button.inactive:hover{
  background: #aaa;
  cursor: default;
}

.button p{
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}




#user-info{
  grid-row: first-row / top-row;
  grid-column: first-col / left-col;
  margin: 5px;
  background: #fafafa;
  border: 3px solid #31302b;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.25);
}

#click-info{
  grid-row: first-row / 1;
  grid-column: left-col / right-col;
  margin: 5px 25px;
  background: rgba(0,0,0,0.25);
}

#inventory{
  grid-row: top-row / last-row;
  grid-column: first-col / 1;
  margin: 10px 20px;
  background: rgba(0,0,0,0.25);
  box-shadow: inset 3px 2px 4px rgba(0,0,0,0.25);
}

#actions{
  grid-row: bottom-row / last-row;
  grid-column: left-col / right-col;
  margin: 10px 20px;
  padding: 0 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background: #fafafa;
  box-shadow: inset 3px 2px 4px rgba(0,0,0,0.25);
}

#leaderboard{
  grid-row: first-row / bottom-row;
  grid-column: right-col / last-col;
  margin: 5px;
  background: #fafafa;
  border: 3px solid #31302b;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.25);
}

#game{
  grid-row: top-row / bottom-row;
  grid-column: left-col / right-col;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
