html, body{
  margin :0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-family: Verdana, sans-serif;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  background: #0c5ea8;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.button:hover {
  background: #008cba;
}
.button.inactive, .button.inactive:hover{
  background: #aaa;
  cursor: default;
}
.button p{
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}



#overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
}

#sale-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#login-box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 20px 30px;
  background: #fff;
  border: 3px solid #31302b;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.3);
}

#sale-box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  padding: 20px 30px;
  background: #00af6e;
  border: 3px solid #31302b;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.3);
}

#login-box>div{
  display: inline;
  margin: 15px 0;
}
#login-box>div:first-child p{
  margin: 5px auto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#login-box label{
  padding: 0 10px;
}


#wrap{
  position: relative;
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template: [first-row] 70px 30px [top-row] auto [bottom-row] 80px [last-row] /
  [first-col] 150px 50px [left-col] auto [right-col] 200px [last-col]; */

  box-sizing: border-box;
  background: #00af6e;
  color: #31302b;
  opacity: 1;
  overflow: hidden;
}
#wrap.hidden{opacity: 0}
/* #wrap>div{
  box-sizing: border-box;
  overflow: hidden;
} */


#user-info{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 150px;
  /* height: 70px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  background: #fafafa;
  border: 3px solid #31302b;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.25);
}
#user-info p{
  margin: 0;
  padding: 6px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  word-break: break-all;
  overflow-wrap: break-word;
}


#click-info{
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.info-text{
  display: block;
  margin: 0;
  padding: 10px 20px;
  background: #31302b;
  color: #fff;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.25);
}


#game-content{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 100px 150px 100px 120px;
  box-sizing: border-box;
}

#inventory{
  position: absolute;
  left: 5px;
  top: 100px;
  width: 110px;
  height: calc(100% - 120px);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0,0,0,0.25);
  overflow: hidden;
}
#inventory p{
  flex: 0 0 auto;
  margin: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#inventory ul{
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.item{
  border: 1px solid #31302b;
  cursor: pointer;
  list-style-type: none; 
}

canvas{
  display: block;
  margin: 0 auto;
  cursor: pointer;
}


#leaderboard{
  position: absolute;
  right: 5px;
  top: 100px;
  height: calc(100% - 200px);
  width: 150px;
  box-sizing: border-box;
  background: #fafafa;
  border: 3px solid #31302b;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.25);
  overflow-x: hidden;
  overflow-y: scroll;
}
#leaderboard>div{
  width: 100%;
  height: auto;
  margin: 10px 0;
}
#leaderboard>div p{
  margin: 0;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 15px;
  font-weight: normal;
}
#leaderboard>div p:first-child{
  font-weight: bold;
}


#actions{
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin: 0;
  padding: 0;
  width: calc(100% - 270px);
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#actions>div{
  display: block;
}
#actions>div.hidden{
  display: none;
}

#choiceBouquets{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 3px solid #31302b;
  height:60%;
  margin: 5px;
  width: 100%;
}

#placeHolder{
  display: flex;
  border: 3px solid #31302b;
  height:40%;
  margin: 5px;
  width: 100%;
}

.bouquet{
  display: flex;
  list-style-type: none;
}

.bouquet li{
  border: 3px solid #31302b;
  height: 100px;
}

.bouquet li p{
  flex: 0 0 auto;
  margin: 5px;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

 #dropzone{
   width: 100%;
   display:flex;
   justify-content: space-around;
 }
 
 #buttonList{
   display: flex;
   width:60%;
   justify-content: space-between;
 }